
.container{
display: grid;
grid-template-columns: 200px 200px 200px 200px;    
grid-template-rows: 110px;
}
#valueBox{
    height: 180px;
    width: 790px;
 background-color: gray;
 font-size: 90px;
}
    
    .container1{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;    
        grid-template-rows: 110px;
        
    }
    .container2{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;    
        grid-template-rows: 110px;
        
    }
    .container3{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;    
        grid-template-rows: 110px ;
        
    }
    .container4{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;    
        grid-template-rows: 110px ;
        
    }
    .container5{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;    
        grid-template-rows: 110px ;
        
    }
    .back{
        background-color:#C9DABF ;
    }
    .empty{
    background-color: antiquewhite; 
    margin-top:20px;   
    }
#clear{
  background-color: blue; 
  font-weight: bold; 
}

   


.btn{
    background-color:black;
    font-size: 40px;
    color: gray;
}
.function{
    background-color: black;
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
body{
    background-color: #728d78;
}
.result{
background-color:gray;
font-size: 40px;
height: 100px;
width: 500px;
color:black; 
  
}
img{
 height:40px ;
 width: 40px;   
 background-color:burlywood;
}


